
<div class="form-container">
    <h3>Añade un Producto!</h2>

    <form class="form" action="/api/productos" method="post">
        <div class="input-container">
            <input id="nombre" name="nombre" type="text" placeholder="Nombre del producto">
        </div>
        <div class="input-container">
            <input id="descripcion" name="descripcion" type="text" placeholder="Descripcion del producto">
        </div>
        <div class="input-container">
            <input id="precio" name="precio" type="number" placeholder="Precio del producto">
        </div>
        <div class="input-container">
            <input id="stock" name="stock" type="number" placeholder="Stock">
        </div>
        <div class="input-container">
            <input id="foto" name="foto" type="text" placeholder="Foto(URL) del producto">
        </div>
        <div class="input-container">
            <input class="add-product" type="submit" value="Añadir Producto">
        </div>
    </form>

</div>