<header id="header" class="header">
    <nav class="navBar">
        <ul class="menu-items">
            <li class="menu-item">Productos</li>
            <li class="menu-item cart-menu-item">Carrito</li>
            <li class="menu-item">Contacto</li>
        </ul>
    </nav>
</header>