<header id="header" class="header">
    <nav class="navBar">
        <ul class="menu-items">
            <li class="menu-item"> <a href="/api/productos"> Productos </a></li>
            <li class="menu-item"><a href="/api/carrito"> 🛒 <span id="cart-menu-item">0</span> Carrito </a></li>
        </ul>
    </nav>
</header>